<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:macro name="webcam" params="*origin">
    <link name="default_cam">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.030 0.124 0.030"/>
          <!-- <mesh filename="" scale="0.001 0.001 0.001"/> -->
        </geometry>
        <material name="red">
          <color rgba="0.416 0.051 0.047 1.0"/>
        </material>
      </visual>
      
    </link>

    <joint name="webcam_to_base_link" type="fixed">
      <parent link="base_link"/>
      <child link="default_cam"/>
      <xacro:insert_block name="origin" />
    </joint>

  </xacro:macro>
</robot>
  